<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>
    <b><%= @meeting.nickname %></b> is in trouble and needs help immediately!
    <% if (@meeting.latitude && @meeting.longitude) %>
        Last updated location: http://maps.google.com/maps?z=12&t=m&q=loc:<%= @meeting.latitude %>+<%= @meeting.longitude %>
    <% else %>
      Location unavailable.
    <% end %>
  </p>
</body>
</html>
