<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Alert!</h1>
  <p>

    Friend is in trouble and needs help immediately!
    <br>
    <a href="http://maps.google.com/maps?z=12&t=m&q=loc:<%= @meeting.latitude %>+<%= @meeting.longitude %>" target="_blank">Friends last updated location</a>
    Note that location might not be up-to-date or exact.
  </p>
</body>
</html>
