<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>
    <%= t('daily_total_message_limit_exceeded') %>
    Note: This is just a test run!
  </p>
</body>
</html>
