<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>
    Timed message from <b><%= @meeting.nickname %></b>! Contact them and make sure they are okay.

    <% if (@meeting.latitude && @meeting.longitude) %>
        Last updated location: http://maps.google.com/maps?z=12&t=m&q=loc:<%= @meeting.latitude %>+<%= @meeting.longitude %>
    <% else %>
        Location unavailable.
    <% end %>
  </p>
</body>
</html>
