<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Notification regarding <%= @meeting.nickname %></h1>
  <p>
    The assumed duration for <b><%= @meeting.nickname %></b>'s activity has passed.
    Make sure that everything is fine.
    <br>

    <% if (@meeting.latitude && @meeting.longitude) %>
        <br>
        <a href="http://maps.google.com/maps?z=12&t=m&q=loc:<%= @meeting.latitude %>+<%= @meeting.longitude %>" target="_blank">Friends last updated location</a>
        <br>
        <i>Note that location might not be exact or up-to-date.</i>
    <% else %>
        <br>
        Location unavailable.
        <br>
    <% end %>
  </p>
</body>
</html>
