<div class="actions">
  <div class="field-section color-2">
    <div class="field-explanation">
      <h1><%= t('max_per_user_per_day_title') %></h1>
    </div>
    <%= t('max_per_user_per_day_text') %><%= Meeting.max_per_user_per_day %>
  </div>
</div>