<div class="creation-header">
  <div class="title-container">
    <h1><%= t('max_total_per_day_title') %></h1>
  </div>
  <div class="textfield">
    <p>
      <%= t('max_total_per_day_text') %><%= Meeting.max_total_per_day %>
    </p>
  </div>
</div>