<div class="creation-header">
  <div class="title-container">
    <h1><%= t('title') %></h1>
  </div>
</div>


<%= render 'form' %>


<p class="info-content">
  <a class="info-links" href="https://artemisumbrella.com" target="_blank"><%= t('info_link') %></a>
</p>
