<h1>Artemis' Umbrella</h1>

<%= render 'form' %>

<h1 class="info-header">i</h1>

<p class="info-content">
  <a class="info-links" href="https://docs.google.com/forms/d/e/1FAIpQLSfWYLkPxbhBcnFHHyZCqFapZVxLD7S7gDJVIC4uBYxmYz-BFg/viewform?usp=sf_link">Feedback</a>
  <a class="info-links" href="https://drive.google.com/file/d/0Bztkd2OpADZVeVl5cUtJVXA4bWs/view?usp=sharing">User manual</a>
</p>
