<h1>Artemis' Umbrella</h1>

<%= render 'form' %>

<h1 class="info-header">i</h1>

<p class="info-content">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Curabitur pulvinar leo sapien, sed molestie mauris auctor viverra.
  Suspendisse ornare quis quam interdum luctus. Suspendisse commodo consequat fermentum.
  Vivamus pharetra fermentum lectus, sed suscipit diam. Donec eu venenatis arcu.
  Interdum et malesuada fames ac ante ipsum primis in faucibus.
  Morbi tincidunt metus a velit placerat, ac placerat nisl vehicula.
  Curabitur malesuada tempus lacus vel faucibus.
</p>
