<h1>Sending message at:</h1>
<div class="info-timer">
  <%= @meeting.time_to_live %> minutes
</div>

<div class="actions">
  <button class="submitbutton">I'm OK</button>
  <button class="alertbutton">Send alert</button>
</div>
