<h1>Brändinimi</h1>

<h1>Sending message at:</h1>
<div class="textfield">
  <strong>Meeting created at <%= @meeting.created_at %>, sending alert after</strong>
</div>
<div class="info-timer">
  <%= @meeting.duration %> minutes
</div>

<div class="actions">
  <button class="submitbutton">I'm OK</button>
  <button class="alertbutton">Send alert</button>
</div>
