<h1>Admin page</h1>

<div class="field-section">
  <h2>Current meetings</h2>
  <table>
    <thead>
    <tr>
      <th>Nickname</th>
      <th>Phone number</th>
      <th>Duration</th>
      <th>Confirmed</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @meetings.each do |meeting| %>
        <tr>
          <td><%= meeting.nickname %></td>
          <td><%= meeting.phone_number %></td>
          <td><%= meeting.duration %></td>
          <td><%= meeting.confirmed %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>