<form method="post" action="/users %>">>
  <div class="creation-header">
    <div class="title-container">
      <h1><%= t('phone_input_title') %></h1>
    </div>
  </div>

  <div class="field-section">
    <div class="field">
      <%= text_field :phone_number, :class => "textfield", placeholder: "#{t('phonenumber_placeholder')}" %>
    </div>
  </div>
  <div class="field-section">
    <div class="actions">
      <input type="submit", class="submitbutton", value=<%=  "#{t('phone_input_submit_button')}" %>>
    </div>
  </div>
</form>