<form method="post" action="/users/">>
  <div class="creation-header">
    <div class="title-container">
      <h1><%= t('phone_input_title') %></h1>
    </div>
  </div>
  <%= render 'form' %>
</form>