.admin-table {
  width: 100%;
  border-collapse: collapse;
  th, td {
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: left;
    width: 20%;
    .delete-button {
      text-decoration: none;
      padding: 2px 6px 2px 6px;
      background: #dc2d2d;
      color: white;
      border-radius: 3px;
      border: 1px solid black;
    }
    .edit-button {
      text-decoration: none;
      padding: 2px 6px 2px 6px;
      background: #48a58b;
      color: white;
      border-radius: 3px;
      border: 1px solid black;
    }
    .credit-input {
      border-radius: 5px;
      text-align: center;
    }
  }
  th a, th a:visited {
    text-decoration: none;
    color: black;
    background: #f5f5f5;
  }
  th {
    color: black;
  }
  tr:hover {
    background-color: #f5f5f5
  }
  // Slight stripes for the table
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
}
.notify {
  width: 100%;
  text-align: center;
  color: green;
}
@media screen and (min-width: 1079px){
  #main {
  width: 90%;
  }
}

.stat-explanation {
  text-align: left;
  padding-left: 40px;
}


// Classes for the column header that is being used to sort currently.
.admin-table th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.admin-table th .desc {
  background-image: image-url("down_arrow.gif");
}
.admin-table th .asc {
  background-image: image-url("up_arrow.gif");
}
