/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     width: 100%;
     background: #5A9DFF; /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(#FF7600, #5A9DFF); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(#FF7600, #5A9DFF); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(#FF7600, #5A9DFF); /* For Firefox 3.6 to 15 */
     background: linear-gradient(#FF7600, #5A9DFF); /* Standard syntax (must be last) */
 }
 .main {
     font-family: 'Ubuntu', sans-serif;
     background: red; /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(#FF7600, #5A9DFF); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(#FF7600, #5A9DFF); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(#FF7600, #5A9DFF); /* For Firefox 3.6 to 15 */
     background: linear-gradient(#FF7600, #5A9DFF); /* Standard syntax (must be last) */
     color: #ffe;
     min-height: 90vh;
     /*1D2B3Fsinine FF7600oranssi */
 }
 @media screen and (min-width: 1079px) {
   .main {
       width: 60%;
       margin: 0 auto;
       border: 1px solid black;
   }
 }

 @media screen and (max-width: 1078px) {
     .main {
         width: 100%;
     }
 }
