// Place all the styles related to the info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo{
  width: 50%;
  margin: 1px auto;
  position: relative;
}

.logo p{
  font-size: 30px;
  position: absolute;
  top: 0%;
  transform: translate(40px,-15px);
}

.logo img{
  float: left;
}

.info{
  margin-top: 20px;
}

.content{
  margin: 20px 0 auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto ;
}