$header-color: #2F4172;
$container1-color: #522B72;
$container2-color: #297C45;

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* UNIVERSAL */

html {
  margin-top: -25px;
}
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  max-width: 100vw;
}
@media screen and (min-width: 1079px) {
  .content {
    width: 1080px;
  }
}
@media screen and (max-width: 1078px) {
  .content {
    width: 100%;
  }
}
.content {
  background-color: rgba(0,0,0,0.1);
  color: white;
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  min-height: 500px;
}
.content > p {
  margin: 20px;
  padding: 50px 0px;
}
.container {
  max-width: 100vw;
}
.sub-header {
  margin-bottom: 20px;
}

/* HEADER */

.header {
  height: 500px;
  background-color: $header_color;
}
.header-content {
  text-align: center;
  padding-top: 170px;
  height: 500px;
}

/* CONTAINER 1 */

.container1 {
  background-color: $container1_color;
}
.container1-content {
  padding-top: 50px;
  min-height: 700px;
}

/* CONTAINER 2 */

.container2 {;
  background-color: $container2_color;
}

.demo-img-text {
  margin-top: 50px;
  margin-bottom: 10px;
}

// Container for the iframe
.frame-holder {
  width: 700px;
  height: 500px;
  margin: 0 auto;
}

// Div that goes on top of the iframes to prevent user interaction
.frame-overlay{
  position:absolute;
  background: rgba(0,0,0,0);
  width: 320px;
  height: 420px;
}

.frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* FOOTER */

.footer {
  width: 100%;
  padding-top: 30px;
  text-align: center;
  height: 100px;
  background-color: #1c2324;
}
.footer > a {
  text-decoration: none;
  color: white;
}