// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h1{

  font: 300% Helvetica;
  text-align: center;

}
.link_to_holder{

  text-align: center;

}
.duration-container {
  float: left;
  width: 25%;
}
.duration-select {
  text-decoration: none;
}
.selected {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 5px;
}
.field {

  font: 200% Helvetica;
  text-align: center;
  margin-top: 10px;
}
.field-with-errors.textfield{

    border: 1px solid red;

}

.textfield{
  text-align: center;
  width: 100%;
  height: 30px;
}
.numfield{
  font-size: 130%;
  float: right;
  height: 30px;
  width: 50px;
}
.submitbutton{
  width: 100%;
  font-size: 150%;
  height: 50px;
  color: white;
  background-color: forestgreen;
  border-radius: 10px;
  box-shadow: none;
  margin-top: 20px;
}
.alertbutton{
  width: 100%;
  font-size: 150%;
  height: 50px;
  color: white;
  background-color: red;
  border-radius: 10px;
  box-shadow: none;
  margin-top: 20px;
}
.info-header {
  color: green;
  background-color: white;
  border-radius: 10px;
  width: 30px;
  margin: 50px auto;
}
.info-content {
  text-align: center;
}
.info-timer {
  text-align: center;
  color: red;
  font: 300% Helvetica;
  margin: 10px auto;
}