// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
>>>>>>> Stashed changes



h1{

  font: 300% Helvetica;
  text-align: center;

}
.link_to_holder{

  text-align: center;

}
.field, .actions, .button{
  font: 200% Helvetica;
  text-align: center;
}
input.textfield{

  font-size: 150%;
  width: 100%;
  height: 30px;
}
input.numfield{
  font-size: 130%;
  height: 30px;
}
input.submitbutton{
  width: 100%;
  font-size: 130%;
  color: red;

}
