// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Can be used for defining different background colors for sections, not used atm.
$section-color-1: #6031F7;
$section-color-2: #5135AA;
$section-color-3: #4A358E;
//Currently only using this opacityvariable for the sections.
$opacity: rgba(0,0,0,0.2);

@mixin button_style($color) {
  padding: 0;
  width: 99%;
  font-size: 150%;
  height: 50px;
  color: white;
  text-align: center;
  border: 1px solid black;
  background-color: $color;
}

h1{
  font: 300% Helvetica;
  text-align: center;
}
.link_to_holder{

  text-align: center;

}
.duration-container {
  float: left;
  width: 25%;
  a {
    color: #ffe;
  }
}
.duration-select {
  text-decoration: none;
}
.duration-select:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 5px;
}
.duration-input {
  height: 25px;
  border-radius: 5px;
  text-align: center;
  width: 90%;
}
.selected {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 5px;
}
.field-section{
  margin: 5px 0;
  padding: 10px 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.color-1 {
  background: $opacity;
}
.color-2 {
  background: $opacity;
}
.color-3 {
  background: $opacity;
}

.field {
  font: 200% Helvetica;
  text-align: center;
  margin-top: 10px;
}
.field-explanation {
  text-align: center;
}
.field_with_errors{
    input {
      border: 1px solid red;
    }
}

.error-message {
  color: red;
  font-size: 30px;
  word-wrap: normal;
}
.error-explanation {
  width: 100%;
  height: 50px;
}

.textfield{
  text-align: center;
  width: 95%;
  height: 30px;
  font-size: 100%;
}
.numfield{
  font-size: 130%;
  float: right;
  height: 30px;
  width: 50px;
}

.submitbutton{
  @include button_style(#1EB53F);
}

.submitbutton:hover{
  background: #005800;
}

.alertbutton{
  @include button_style(#CF1313);
}

.alertbutton:hover{
  background-color: #9b0000;
}

.refreshbutton{
  @include button_style(#48a58b);
}

.refreshbutton:hover{
  background-color: #39735c;
}

.info-header {
  color: green;
  background-color: white;
  border-radius: 10px;
  width: 30px;
  margin: 50px auto;
}
.notification-header {
  text-align: center;
  color: #CF1313;
  font: 300% Helvetica;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
.info-content {
  text-align: center;
}
.info-timer {
  text-align: center;
  color: #CF1313;
  font: 300% Helvetica;
  margin: 10px auto;
}
.info-links{
  color: white;

}
.info-links:visited{
  color: white;
}

#javascript-protocol {
  display: none;
}

.creation-header {
  position: relative;
}
.title-container{
  margin-top: 20px;
  overflow: hidden;
}
.language-select {
  position: absolute;
  top: 2px;
  right: 2px;
}
