// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Currently only using this opacityvariable for the sections.
$opacity: rgba(0,0,0,0.2);

@mixin button_style($color) {
  padding: 0;
  width: 99%;
  font-size: 150%;
  height: 50px;
  color: white;
  text-align: center;
  background-color: $color;
}

h1{
  font-size: 300%;
  text-align: center;
}
.link_to_holder{

  text-align: center;

}
.duration-container {
  float: left;
  width: 25%;
  a {
    color: #593c3d;
  }
}
.duration-select {
  text-decoration: none;
}
.duration-select:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 5px;
}
.duration-input {
  height: 25px;
  border-radius: 5px;
  text-align: center;
  width: 90%;
}
.selected {
  background-color: black;
  color: white !important;
  border-radius: 10px;
  padding: 5px;
}
.field-section{
  background: image-url("tausta.png");
  background-repeat: no-repeat;
  background-position: top center;
  margin: 5px auto;
  padding: 10px;
  width: 92%;
  overflow: hidden;
  text-align: center;
  border-bottom: 3px solid #dc2d2d !important;
}

.field {
  font-family: 'Open-Sans', sans-serif;
  font-size: 200%;
  text-align: center;
  margin-top: 10px;
  position: relative !important;
  float: left !important;
  width: 100% !important;
  padding-top: 30px !important;
}

.field input {

    border: 1px solid #dc2d2d !important;
    border-radius: 0px !important;
    min-height: 42px;

}


.field-explanation {
  text-align: center;
}
.field_with_errors{
    input {
      border: 1px solid red;
    }
}

.error-message {
  color: red;
  font-size: 30px;
  word-wrap: normal;
  line-height: 1;
}
.error-explanation {
  width: 100%;
  height: 50px;
}
.textfield::-webkit-input-placeholder, .numfield:-ms-input-placeholder {
  font-family: 'Assistant', sans-serif;
}

.textfield:-ms-input-placeholder, .numfield:-ms-input-placeholder {
  font-family: 'Assistant', sans-serif;
}

.textfield:-moz-placeholder, .numfield:-ms-input-placeholder {
  font-family: 'Assistant', sans-serif;
}

.textfield::-moz-placeholder, .numfield:-ms-input-placeholder {
  font-family: 'Assistant', sans-serif;
}

.textfield{
  text-align: center;
  width: 95%;
  height: 30px;
  font-size: 100%;
}
.numfield{
  font-size: 130%;
  float: right;
  height: 30px;
  width: 50px;
}


.submitbutton{
  @include button_style(#dc2d2d);


  //text-transform: uppercase;
  color: white;
  border: 0px !important;
}

.submitbutton:hover{
  background: #005800;
}

.alertbutton{
  @include button_style(#CF1313);
}

.alertbutton:hover{
  background-color: #9b0000;
}

.refreshbutton{
  @include button_style(#48a58b);
}

.refreshbutton:hover{
  background-color: #39735c;
}

.changetimebutton{
  @include button_style(#48a58b);
}

.changetimebutton:hover{
  background-color: rgba(0,0,0,0.4);
}

.info-header {
  color: green;
  background-color: white;
  border-radius: 10px;
  width: 30px;
  margin: 50px auto;
}
.notification-header {
  text-align: center;
  color: #CF1313;
  font: 300% Helvetica;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
.info-content {
  text-align: center;
}
.info-timer {
  text-align: center;
  color: #CF1313;
  font: 300% Helvetica;
  margin: 10px auto;
}
.info-links{
  color: #593c3d;
  text-decoration: none;
}
.info-links:visited{
  color: #593c3d;
  text-decoration: none;
}

#javascript-protocol {
  display: none;
}


.title-container{
  margin-top: 25px;
  overflow: hidden;
}


.creation-header {
  background: #dc2d2d !important;
}

.creation-header .title-container h1 {
   color: white !important;
}


.field-section.color-2 {
  border-bottom: 3px solid #009245 !important;
}


.field-explanation h2 {
  color: #009245;
}


.field-section.color-2 .submitbutton {

  background-color: #009245 !important;
  //text-transform: uppercase;
  color: white;
  border: 0px !important;

}

.field-section.color-3 .submitbutton {

  background-color: #dc2d2d !important;
  text-transform: uppercase;
  color: white;
  border: 0px !important;

}

.submitbutton:hover, .color-3 .submitbutton:hover {
  background-color: #af0000 !important;
}

.color-2 .submitbutton:hover {
  background-color: #106818 !important;
}
