<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%= stylesheet_link_tag 'info' %>
  <title>Landing Page</title>
</head>
<body>
  <div class="main">
    <div class="container header">
      <div class="content header-content">
        <%= image_tag("logoplaceholder.png") %>
        <h1 class="main-header">Nimi</h1>
      </div>
    </div>
    <div class="container container1">
      <div class="content container1-content">
        <h2 class="sub-header">What is it?</h2>
        <p>
          Lorem ipsum dolor sit amet, mandamus ocurreret mediocritatem per cu, ex maluisset gubergren sit. Ea eum saepe praesent voluptaria, quo in diam affert expetendis, sed eu dicat legendos. Qui sale rationibus constituam an. His ea sumo nullam.
        </p>
        <h2 class="sub-header">What does it do?</h2>
        <p>
          Lorem ipsum dolor sit amet, mandamus ocurreret mediocritatem per cu, ex maluisset gubergren sit. Ea eum saepe praesent voluptaria, quo in diam affert expetendis, sed eu dicat legendos. Qui sale rationibus constituam an. His ea sumo nullam.
        </p>
        <h2 class="sub-header">Who is it for?</h2>
        <p>
          Lorem ipsum dolor sit amet, mandamus ocurreret mediocritatem per cu, ex maluisset gubergren sit. Ea eum saepe praesent voluptaria, quo in diam affert expetendis, sed eu dicat legendos. Qui sale rationibus constituam an. His ea sumo nullam.
        </p>
      </div>
    </div>
    <div class="container container2">
      <div class="content container2-content">
        <h2 class="sub-header">How does it do it?</h2>
        <div class="img-container">
          <div class="demo-img-text">
            1. User does stuff
          </div>
          <div>
            <div class="frame-holder">
              <div class="frame-overlay"></div>
              <iframe scrolling="no" align="middle" class="frame" src="/creationdemo"></iframe>

            </div>
          </div>
        </div>
        <div class="img-container">
          <div class="demo-img-text">
              2. Other stuff happens
          </div>
          <div>
            <div class="frame-holder">
              <div class="frame-overlay"></div>
              <iframe scrolling="no" align="middle" class="frame" src="/statusdemo"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="footer">
    <%= link_to 'Link to demo', root_path %>
  </div>
</body>
</html>

